body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-container {
  width: 270px;
  height: 400px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
}

.qr-code-img {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin: auto;
  margin-top: 15px;
  width: 245px;
  height: 220px;
  border-radius: 10px;
}

.qr-code-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  width: 230px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.qr-code-description {
  display: flex;
  text-align: center;
  color: rgb(144, 143, 143);
  width: 210px;
  margin: auto;
  font-size: small;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 60px;
}

.attribution a {
  color: #412332;
}
